#login_frame {
  background: none repeat scroll 0 0 #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  left: 50%;
  margin: -155px 0 0 -260px;
  padding: 30px 0 20px;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 520px;
}
#login_frame .logo {
  display: block;
  margin: 0 auto;
}
