<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>  
  <connectionStrings>
    <add name="db" connectionString="Database=miaopass;Data Source=localhost;User Id=root;Password=Horsea;charset=utf8" />
  </connectionStrings>
  <appSettings>
    <add key="OssAccessId" value="nHtP7UKccOn1SyXe" />
    <add key="OssAccessKey" value="vrA0AwCJCQSGRRAgCc97vJlRk1xusr" />
    <add key="OssPublicBucketName" value="miaopass-test" />
    <add key="BaseUrl" value="http://test-img.miaopass.net/" />
    <add key="OssPrivateBucketName" value="private-miaopass" />
    <add key="OssEndPoint" value="http://oss-cn-hangzhou.aliyuncs.com" />
    <add key="WeiboAppKey" value="2054725490" />
    <add key="WeiboAppSecret" value="1f427495df830ce12a09d08e355bf162" />
    <add key="WeiboOAuthCallback" value="http://127.0.0.1:2083/weibologin.aspx" />
    <add key="Host" value="http://localhost:2166" />
  </appSettings>
  <system.web>
    <pages>
      <namespaces>
        <add namespace="Newtonsoft.Json" />
      </namespaces>
    </pages>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
  </system.web>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>